[build]
  publish = "dist"
  command = "pnpm run build"

[[redirects]]
  from = "/backend-api/*"
  to = "https://loop-api-41qx.onrender.com/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200